.plot-cell-icon {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.plot-cell-wrapper:hover .plot-cell-icon {
    opacity: 1;
}

.plot-minimize-icon {
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.15s ease;
}

.plot-minimize-icon:hover {
    opacity: 1;
}

#main-svg {
    display: block;
}
