<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Buckaroo Direct Maniputation Visual Data Cleaning Tool</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/arquero@latest"></script>
  </head>

  <body>
    <div id="header">
      <h1>Buckaroo Visual Wrangler 🤠</h1>
      <div id="header-buttons">
        <button id="export-script">
          Export Cleaning Script
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>

    <div class="matrix-and-dropdown-container">
      <div id="left-panel">
        <div id="attribute-list">
          <div id="attribute-list-header">
            <h3>Attribute Summaries</h3>
          </div>
          <div id="attribute-sorting"></div>
          <ul id="attribute-summary-list"></ul>
        </div>

        <div class="dropdown-container">
          <h3 style="align-self: center; text-align: center; width: 100%; margin-top: 5px; margin-bottom: 5px;">Dataset Configuration</h3>

          <div id="predicate-dropdown-container">
            <label for="predicate-dropdown">Add a Predicate to a Column:</label>
            <select id="predicate-dropdown">
              <option value="">None</option>
            </select>

            <div id="condition-container"></div>
          </div>
        </div>
        <!-- <div id="legend">
          <h3>Visual Encoding Options</h3>
          <div class="legend-radio-buttons">
            <input
              type="radio"
              name="legend-toggle"
              id="view-errors"
              value="errors"
              checked
            />
            <label for="view-errors">View Errors</label>

            <input
              type="radio"
              name="legend-toggle"
              id="view-groups"
              value="groups"
            />
            <label for="view-groups">View Groups</label>
          </div>
          <div id="legend-content"></div>
        </div> -->


      </div>

      <div class="matrix-and-toolbox">
        <div id="tab2" class="tab-content active">
          <div id="matrix-vis"><svg id="main-svg" width="1100" height="900"></svg></div>
              <div id="dirty-rows-container">
      <h3>Top 10 Rows with Most Errors</h3>
      <div id="dirty-rows-table-wrapper"></div>
    </div>
        </div>

        <div class="toolbox-wrapper">
          <div id="toolbox">
            <!-- <form id="radio-buttons-form"> -->
              <h3>Data Repair Toolkit</h3>
              <p>Explore options below for selecting and repairing data.</p>
              <!-- <h4>Select an option:</h4>
              <label>
                <input type="radio" name="options" value="allData" checked />
                View all data
              </label>
              <label>
                <input type="radio" name="options" value="selectData" />
                Select data
              </label> -->
            <!-- </form> -->
            <!-- <div class="undo-redo-container">
              <button id="undo" disabled>Undo Last Repair</button>
              <button id="redo" disabled>Redo Last Repair</button> -->
              <!-- <button id="clear-selection">Clear Selection</button> -->
            <!-- </div> -->

            <!-- <button id="zoom-data" disabled>Zoom Selected Data</button>
            <button id="repair-data" disabled>Repair Selected Data</button>
 -->
            <!-- <button id="remove-selected-data">Remove Selected Data</button>
            <div id="preview-remove"></div>
            <button id="impute-average-x">
              Impute selected data with average for X
            </button>
            <div id="preview-impute-average-x"></div>
            <button id="impute-average-y">
              Impute selected data with average for Y
            </button>
            <div id="preview-impute-average-y"></div>
            <button id="user-function">
              Apply user specified repair
            </button> -->
            <div id="preview-area"></div>
          </div>
        </div>
      </div>

      <div id="tooltip" class="tooltip"></div>
      <div id="selectionOptions" class="selectionOptions">Zoom In<br>Preview Repairs</div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/dataModel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scatterplotMatrixView.js') }}"></script>
  <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
  <script type="module" src="{{url_for('static', filename='js/serverCalls.js') }}"></script>
  <script type = "module" src="{{url_for('static', filename='js/tableFunction.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/dataSelection.js') }}"></script>
</html>
  <script src="js/query.js"></script>
  <script src="js/vis_common.js"></script>
    <script src="visualizations/legendview.js"></script>
    <script src="visualizations/matrixview.js"></script>
    <script src="visualizations/tableview.js"></script>
  <script src="visualizations/repairpanel.js"></script>
    <script src="visualizations/attributesummaryview.js"></script>
  <script type="module" src="js/script.js"></script>
  </html>
